.st-emotion-cache-12w0qpk {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://cdn.behindthemarkets.com/2023/10/shutterstock-1681420990.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.st-emotion-cache-q49buc.e1i5pmia2 p {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 20px;
    opacity: 1;
}
        
.st-emotion-cache-1wivap2 {
    text-align: center;
    color: white;
    font-size: 24px;
}
    



